<!-- Carte 1 : Gestion du script Python -->
<p class="lead">Choisissez un script à exécuter ou à éditer et saisissez votre jeton.</p>

<div class="row align-items-end mb-4">
    <!-- Sélecteur de scripts pour Request -->
    <div class="col-8">
        <select class="form-select" id="script-select-request">
            {% for script in scripts_request %}
                <option value="{{ script }}">{{ script }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <button class="btn btn-success me-2" >
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="btn btn-warning me-2" id="show-script-request-btn" data-bs-toggle="modal" data-bs-target="#showScriptRequestModal" title="Voir le script">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>
    </div>

    <!-- Input pour le jeton avec un bouton clear -->
    <div class="col-8 mt-3">
        <div class="input-group">
            <input type="text" class="form-control" id="token-request-input" placeholder="Entrez votre jeton" />
            <button class="btn btn-outline-secondary" type="button" id="clear-token-request-input" title="Effacer le jeton">
                <i class="fa-solid fa-times"></i>
            </button>
        </div>
    </div>


    <!-- Boutons -->
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary me-2" id="run-script-request-btn" title="Exécuter le script">
                <i class="fa-solid fa-play"></i>
            </button>
            <button class="btn btn-secondary me-2" id="edit-script-request-btn" data-bs-toggle="modal" data-bs-target="#editScriptModal" title="Éditer le script" disabled>
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </div>
    </div>
</div>

<h5>Sortie du script :</h5>
<div id="script-output-request" class="alert alert-secondary" role="alert">
    <em>Le script n'a pas encore été exécuté.</em>
</div>


<!-- Modals -->
{% include 'home/fragments/programmation/request/modals/edit_script_modal.html.twig' %}
{% include 'home/fragments/programmation/request/modals/show_script_modal.html.twig' %}
{% include 'home/fragments/programmation/request/modals/success_modal.html.twig' %}

<!-- Modules -->
{% include 'home/fragments/programmation/request/modules/toast.html.twig' %}


<script src="{{ asset('js/home/request/run.js') }}"></script>
<script src="{{ asset('js/home/request/edit.js') }}"></script>
<script src="{{ asset('js/home/request/show.js') }}"></script>
<script src="{{ asset('js/home/request/save.js') }}"></script>
<script src="{{ asset('js/home/request/download.js') }}"></script>
<script src="{{ asset('js/home/request/copy.js') }}"></script>
<script src="{{ asset('js/home/request/clear_input.js') }}"></script>

